 <h1> <%= @event.title %> </h1>
 <p>
 Description : </br>
 	<%= @event.description %>
 </p>

    <div class="col-md-4">
        <% if @event.event_picture.attached?%>
          <%= image_tag @event.event_picture, alt: 'event_picture', class: "img-thumbnail rounded mx-auto d-block mb-2"  %>
        <% else %>
          <%= image_tag 'concert.jpg', alt: 'event_picture', class: "img-thumbnail rounded mx-auto d-block mb-2 img-fluid"  %>
        <% end %>
      </div>

 <p>
 Où ? <%= @event.location %></br>
 Début ? <%= @event.start_date.strftime("%H:%M") %> (<%= @event.start_date.strftime("%m/%d/%y") %>)</br>
 Fin ? <%= @event_end_date.strftime("%H:%M") %> (<%= @event_end_date.strftime("%m/%d/%y") %>)</br>
 Et le prix ? <%= @event.price %>€</br>
 <% hours = @event.duration / 60 %>
 <% rest = @event.duration % 60 %>
 Durée ? <%= hours %>h<%=rest%>
</p>

<p>
  Contacter le créateur de l'évènement : <%=@event.administrator.email %>
</p>

<p>
  Nombre de participants : <%=@event.attendances.count %> participants
</p>


<p>
<% if user_profil_completed? %>
  <%= link_to "Pour participer, mets-à-jour ton profil !!!", user_path(current_user.id), class: "btn-info btn p-1" %>
<% else %>
  <% if event_admin? || event_attendee? %>
    Vous participez à cet évènement !
  <% elsif !signed_in? %>
    Connecter vous pour vous inscrire à cet évènement
  <% else %>
    <%= link_to "Participer", new_event_attendance_path(params[:id]), class: "btn-dark btn p-1" %>
  <% end %>
<% end %>
</p>

<p>
<% if event_admin? %>
  <%= link_to "Mon espace EVENT", event_attendances_path(params[:id]), class: "btn-dark btn p-1" %>
<% end %>
</p>



